#condition {
  visibility: visible;
  &:before {
    content: " ";
    font-family: weathericons;
    font-weight: 400;
    display: inline-block;
    padding-right: 0.5rem;
    font-size: 1.4rem;
    vertical-align: middle;
  }
}

// thunderstorm with light rain
.condition-200,
.condition-210,
.condition-230,
.condition-231 {
  &:before {
    content: "\f01d";
  }
}

// thunderstorm with rain
.condition-201,
.condition-202,
.condition-212,
.condition-221,
.condition-232 {
  &:before {
    content: "\f01e";
  }
}

// thunderstorm
.condition-211 {
  &:before {
    content: "\f016";
  }
}

// drizzle
.condition-300,
.condition-301,
.condition-302,
.condition-310,
.condition-300,
.condition-311,
.condition-312,
.condition-313,
.condition-314,
.condition-321 {
  &:before {
    content: "\f01c";
  }
}

// heavy rain
.condition-500,
.condition-501,
.condition-502,
.condition-503,
.condition-504,
.condition-511,
.condition-520,
.condition-521,
.condition-522,
.condition-531 {
  &:before {
    content: "\f01a";
  }
}

// snow
.condition-600,
.condition-601,
.condition-602,
.condition-611,
.condition-612,
.condition-613,
.condition-615,
.condition-616,
.condition-620,
.condition-621,
.condition-622 {
  &:before {
    content: "\f01b";
  }
}

.condition-701 {
  &:before {
    content: "\f014";
  }
}

.condition-711 {
  &:before {
    content: "\f062";
  }
}

.condition-721 {
  &:before {
    content: "\f0b6";
  }
}

// dust
.condition-731,
.condition-761,
.condition-762 {
  &:before {
    content: "\f063";
  }
}

// fog
.condition-741 {
  &:before {
    content: "\f014";
  }
}

// sand
.condition-751 {
  &:before {
    content: "\f082";
  }
}

// sand
.condition-751 {
  &:before {
    content: "\f082";
  }
}

// twister
.condition-771,
.condition-781 {
  &:before {
    content: "\f056";
  }
}

// clear
.condition-800 {
  &:before {
    content: "\f00d";
  }
}

#time-container
  #weather
  #condition-date-toggle
  #condition.condition-800:before {
  content: "\f00d";
}

// few clouds
.condition-801 {
  &:before {
    content: "\f002";
  }
}

// scattered clouds
#condition.condition-802,
#condition.condition-803 {
  &:before {
    content: "\f013";
  }
}

// scattered clouds
.condition-804 {
  &:before {
    content: "\f041";
  }
}
